header{
    border: rgba(248, 248, 255, 0) 5px;
    border-style: groove;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-image: url("X.jfif");
    background-repeat: no-repeat;
    font-size: 25px;
    color: rgb(32, 175, 197);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.583) 10px 5px 5px 5px;
}
body{
    background-image: url("X.jfif");
}
section{
    border: rgba(248, 248, 255, 0) 5px;
    border-style: groove;
    border-radius: 20px;
    margin-top: 10px;
    color: rgb(32, 175, 197);
    box-shadow: rgba(0, 0, 0, 0.583) 10px 5px 5px 5px;
    font-size: 15px;
    padding: 1px;
    height: 50px;
    margin-left: 1111px;
    padding-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    list-style-type: none;
    border: rgba(248, 248, 255, 0) 5px;
    border-style: groove;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.424) 10px 5px 5px 5px;
    margin-right: 1050px;
    margin-top: 22px;
    height: 40px;
}
nav ul li{
    display: inline;
    font-size: 17px;
    padding: 25px;
    padding-right: 5px;
}
a{ 
    color: rgb(20, 244, 181);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    padding: 2px;
    color: black;
    border: white 1px;
    border-style: none;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
}
article{
    border: rgba(248, 248, 255, 0) 5px;
    border-style: groove;
    border-radius: 20px;
    font-size: 22px;
    margin-right: 400px;
    margin-top: 44px;
    margin-left: 333px;
    padding-left: 50px;
    color: rgb(32, 175, 197);
    box-shadow: rgba(0, 0, 0, 0.583) 10px 5px 5px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}
#photo{
    border: rgba(0, 0, 0, 0) 5px;
    border-style: none;
    background-color: rgba(250, 235, 215, 0);
    border-radius: 22px;
    height: 400px;
    width: 1111px;
    padding-left: 25px;
    margin-left: 200px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(32, 175, 197);
    text-align: center;
}
#mine{
    width: 222px;
    height: 200px;
    border-radius: 100px;
}
img{
    height: 80px;
    width: 90px;
    padding: 15px;
    
}